<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-buttin></ion-back-buttin>
    </ion-buttons>
    <ion-title>Data Sender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">
    Data to/from main page
  </ion-label>
  <ion-input type="text" [(ngModel)]="textData"></ion-input>
</ion-item>
<ion-button color="primary" class="ion-float-right"
(click)="sendDataToHome()">
<ion-icon slot="start" name="send"></ion-icon>
Send
</ion-button>
</ion-content>
